.example-spacer {
  flex: 1 1 auto;
}
.example-icon {
  padding: 0 14px;
}
button{
  margin-left: 5px;
  margin-right: 5px;
}
.menuC{
  margin-top: 8px;
  margin-left: 10px;
}
.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
router-outlet,mat-sidenav-content{
  margin-top:63px;
  pading-bottom: 80px;
}

.mat-menu-content {
  overflow: hidden;
}
mat-sidenav{
  margin-top:54px;
}
.mat-badge.hide-text .mat-badge-content {
  color: transparent;
}
.mat-badge.orange .mat-badge-content{
  background-color: orange;
}
.mat-badge.red .mat-badge-content{
  background-color: red;
}

