<button mat-fab  class="CommandeFix " color="accent" routerLink="/commande">
  <mat-icon>add</mat-icon>
</button>
<div class="site-wrap">
  <div class="site-blocks-cover overlay" style="background-image: url('../assets/img/hero_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class=" row align-items-center">
      <div class="col-12" data-aos="fade">
        <h1>Touver un super marché</h1>
        <form action="#">
          <div class="row mb-3">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                  <input type="text" class="mr-3 form-control border-0 px-4" placeholder="super marché, mot clée ou une sociétée">
                </div>
                <div class="col-md-6 mb-3 mb-md-0">
                  <div class="input-wrap">
                    <span class="icon icon-room"></span>
                    <input type="text" class="form-control form-control-block search-input  border-0 px-4" id="autocomplete" placeholder="ville, province ou region" onFocus="geolocate()">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <button mat-raised-button class="btn btn-search btn-block" color="accent" routerLink="">Recherche</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2 class="mb-5">Grande surfaces</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="100">
        <a href="#" class="h-100 feature-item" style="background-image:url('../../../assets/img/magasin/marjane.png'); ">
          <span class="d-block icon flaticon-calculator mb-3 text-primary"></span>

          <span class="counting">Marjane</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="200">
        <a href="#" class="h-100 feature-item" style="background-image:url('../../../assets/img/magasin/ASWAK ASSALAM.png');" >
          <span class="d-block icon flaticon-wrench mb-3 text-primary"></span>

          <span class="counting">Aswak Assalam</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="300">
        <a href="#" class="h-100 feature-item" style="background-image:url('../../../assets/img/magasin/Bim.png');">
          <span class="d-block icon flaticon-worker mb-3 text-primary"></span>

          <span class="counting">Bim</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="400">
        <a href="#" class="h-100 feature-item" style="background-image:url('../../../assets/img/magasin/atacadao.png');">
          <span class="d-block icon flaticon-telecommunications mb-3 text-primary"></span>

          <span class="counting">Atacadao</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="500">
        <a href="#" class="h-100 feature-item" style="background-image:url('../../../assets/img/magasin/acima.png');">
          <span class="d-block icon flaticon-stethoscope mb-3 text-primary"></span>
          <span class="counting">Acima</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="600">
        <a href="#" class="h-100 feature-item" style="background-image:url('../../../assets/img/magasin/carrefour.png');">
          <span class="d-block icon flaticon-computer-graphic mb-3 text-primary"></span>
          <span class="counting">Carrefour</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="700">
        <a href="#" class="h-100 feature-item" style="background-image:url('../../../assets/img/magasin/electro.png');">
          <span class="d-block icon flaticon-trolley mb-3 text-primary"></span>
          <span class="counting">Electroplanet</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="800">
        <a href="#" class="h-100 feature-item" style="background-image:url('../../../assets/img/magasin/decatlon.png');">
          <span class="d-block icon flaticon-restaurant mb-3 text-primary"></span>
          <span class="counting">Decathlon</span>
        </a>
      </div>
    </div>

  </div>
  <br>
  <div class="site-blocks-cover overlay inner-page" style="background-image: url('../assets/img/hero_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 text-center" data-aos="fade">
          <h1 class="h3 mb-0">Tesekhira Enligne</h1>
          <p class="h5 text-white mb-12">
            Les meilleurs produits,  le plus rapidement possible chez vous.
            <br>
            Le paiement se fait en espèces à la livraison.
            <br>
            Vous ne trouvez pas votre bonheur ?
            <br>
            Cliquez sur le button commander et choisir le livreur que vous voulez

          </p>
          <br>
          <p>
            <a routerLink="" class="btn btn-outline-warning py-3 px-4">Commandez</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
          <h2 class="mb-5 h3">Meilleur Livreur</h2>
          <div class="rounded border jobs-wrap" >
            <div *ngFor="let liv of livreurs; index as i" >
              <a  *ngIf="i < 3" (click)="onSelect(liv)" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime" id="myUL">
                <div class="company-logo blank-logo text-center text-md-left pl-3">
                  <img src="../../assets/img/livreur/denne.jpg" alt="Image" class="rounded-circle">
                </div>
                <div class="job-details h-100">
                  <div class="p-3 align-self-center" id="myli">
                    <h3>{{liv.email}}</h3>
                    <h5 id="a">{{liv.nom + " " +liv.prenom+'  Livreur#'+liv.id}}</h5>
                    <div class="d-block d-lg-flex">
                      <div class="mr-3"><span class="icon-suitcase mr-1"></span> {{liv.nom + " " + liv.prenom}}  est à votre disposition</div>
                    </div>
                  </div>
                </div>

                <div class="job-category align-self-center">
                  <div class="p-3">
                    <div class="one">
                      <span style="margin-right: 5px;">{{plus[i]}}</span>
                      <i class="material-icons" id="first">thumb_up</i>
                    </div>
                    <div class="two">
                      <span style="margin-right: 5px;">{{moin[i]}}</span>
                      <i class="material-icons" id="second">thumb_down</i>
                    </div>
                  </div>
                </div>
              </a>
            </div>


          </div>

          <div class="col-md-12 text-center mt-5">
            <button mat-raised-button  color="accent" routerLink="/livreur">
              <mat-icon>add</mat-icon>
              Afficher plus de livreur
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="site-blocks-cover overlay" style="background-image: url('../assets/img/hero_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class=" row align-items-center">
        <div class="col-12" data-aos="fade">
          <h1>Devener un partenaire de Tesekhira </h1>
          <p>
            Vous êtes un restaurant, un traiteur, un hôtel , un super marchée … ?
            <br>

            Le référencement est gratuit et sans engagement
            <br>
            Booster et dynamiser votre activité
            en devenant partenaire de Tesekhira Enligne !
          </p>
          <form action="#">
            <div class="row mb-3">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <input type="text" class="mr-3 form-control border-0 px-4" placeholder="Nom & numero">
                  </div>
                  <div class="col-md-6 mb-3 mb-md-0">
                    <div class="input-wrap">
                      <span class="icon icon-room"></span>
                      <input type="text" class="form-control form-control-block search-input  border-0 px-4" id="autocomplete" placeholder="Email" onFocus="geolocate()">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <button mat-raised-button class="btn btn-search btn-block" color="accent" routerLink="">Recherche</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>


