<div class="row probootstrap-gutter60 mb50">
  <div class="col-md-4">
    <figure><img src="../../assets/img/livreur/denne.jpg" lt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
  </div>
  <div class="text col-md-8">
    <h2 class="probootstrap-heading">Information professionnel du livreur</h2>
    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    <p><a href="#" class="btn btn-primary">Changer livreur</a></p>
  </div>
</div>
