<div mat-dialog-content>
  <p>Saisie votre mot de passe pour confirmer la modification </p>
  <mat-form-field style="position: center;width:90%;">
    <input matInput type="password" placeholder="Mot de passe" [(ngModel)]="data.password">
  </mat-form-field>
</div>
<div mat-dialog-actions style="position: center;">
  <button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.password" cdkFocusInitial>Confirmer</button>
</div>
