<mat-card class="matcardCmd">
  <span *ngIf="errliv==1" class="erreur">{{msgerr}}</span>
  <div class="rounded border jobs-wrap"  *ngIf="livreur!=null" >
    <div class="job-item d-block d-md-flex align-items-center fulltime" ngclass="fulltime:livreur.e">
      <div class="company-logo blank-logo text-center text-md-left pl-3">
        <img src="../../assets/img/livreur/denne.jpg" alt="Image" class="img-fluid mx-auto">
      </div>
      <div class="job-details h-100">
        <div class="p-3 align-self-center">
          <h3>{{livreur.nom + ' ' +livreur.prenom}} </h3>
          <div class="d-block d-lg-flex">
            <div class="mr-3">{{livreur.email}}</div>
          </div>
        </div>
      </div>
      <div class="job-category align-self-center">
        <div class="p-3">
          <a routerLink="/livreur" (click)="changeLiv()"><span class="text-info p-2 rounded border border-info">changer</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center mt-5 addLiv" *ngIf="livreur==null" >
    <button mat-raised-button  color="accent" routerLink="/livreur">
      <mat-icon>add</mat-icon>
      Choisir Livreur
    </button>
  </div>
</mat-card>

<mat-card class="matcardCmd" >
  <form class="example-form" (ngSubmit)="envoyer()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Titre commande" required [(ngModel)]="model.titre" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <div *ngFor="let l of model.lignes;index as i" [id]="i">
      <mat-card class="matcardLC" >
        <button mat-fab  class="deleteLC" *ngIf="model.lignes.length>1" (click)="deleteLC(i)">
          <mat-icon >delete_forever</mat-icon>
        </button>
        <mat-card-title>Produit</mat-card-title>


        <mat-form-field class="example-full-width">
          <input matInput placeholder="Produit " required [(ngModel)]="l.nom_prod" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Quantité " required [(ngModel)]="l.quantite" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Prix Maximal " required [(ngModel)]="l.prix_prod" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <button mat-fab  class="addlC" color="accent" *ngIf="i==(model.lignes.length-1)" (click)="addLC()">
          <mat-icon>add</mat-icon>
        </button>

      </mat-card>

    </div>
        <label class="container">Commande Express
          <input type="checkbox" [(ngModel)]="Commande" [ngModelOptions]="{standalone: true}">
          <span class="checkmark"></span>
        </label>


    <button mat-raised-button  color="accent" type="submit">envoyer commande</button>
  </form>


</mat-card>

