/*.text{
  margin-top: 100px;
}

.img-responsive{
  margin-left: 100px;
  margin-top: 80px;
  border-radius: 50%;
}
button{
float: right;
}*/
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
