


<div class="container" [ngSwitch]="utili.type">
  <div class="row my-2">
    <div class="col-lg-3 order-lg-1 text-center">
      <br>
      <img src="../../assets/img/user-profile.png" class="mx-auto img-fluid rounded-circle d-block" alt="avatar">
      <br>
      <button mat-button [matMenuTriggerFor]="menu">
        <strong>
          {{utili.nom + " " + utili.prenom}}
        </strong>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      <br>
      <br>
      <ul class="list-group">
        <li class="list-group-item text-muted">Activité</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Commande</strong></span> {{utili.commandes.length}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Recommandation</strong></span> {{utili.recommander.length}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Etat du profil</strong></span> 37</li>
      </ul>
      <br>
      <br>
      <ul class="list-group" *ngIf="utili.commandes.length==0 || utili.recommander.length==0">
        <li class="list-group-item text-muted">Bienvenue</li>
        <li class="list-group-item text-center" *ngIf="utili.commandes.length==0" >
          <button mat-raised-button style="position: center" color="primary" routerLink="" >Passer commande</button>
        </li>
        <li class="list-group-item text-center" *ngIf="utili.recommander.length==0">
          <button mat-raised-button style="position: center" color="primary" routerLink="">Recommander un livreur</button>
        </li>
      </ul>

      <br>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-lg-9 order-lg-2">
      <mat-tab-group>
        <mat-tab label="Information">
          <div class="py-4" style="overflow-x: hidden">
            <h5 class="mb-3">Profile client</h5>
            <div class="row">
              <div class="col-md-6">
                <h6>Nom complet</h6>
                <p >
                  {{model.nom +'  ' + model.prenom}}
                </p>
                <h6>Email</h6>
                <p>
                  {{model.email}}
                </p>
                <h6>Adresse</h6>
                <p>
                  {{model.adress}}
                </p>
                <h6>Date de naissance</h6>
                <p>
                  {{model.date}}
                </p>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Commande">
          <div class="site-section bg-light">
            <div class="container">
              <div class="row">
                <div class="col-md-12 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
                  <div class="rounded border jobs-wrap">
                    <a *ngIf="utili.commandes.length == 0" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
                      <div class="job-details h-100">
                        <div class="p-3 align-self-center">
                          <h3>Aucune commande effectuer</h3>
                        </div>
                      </div>
                      <div class="job-category align-self-center">
                        <div class="p-3">
                          <span routerLink="/commande" class="text-info p-2 rounded border border-info">Commander</span>
                        </div>
                      </div>
                    </a>
                    <a *ngFor="let cmd of utili.commandes" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
                      <div class="job-details h-100">
                        <div class="p-3 align-self-center">
                          <h3>{{cmd.titre}}</h3>
                          <div class="d-block d-lg-flex">
                            <div class="mr-3"><span class="icon-suitcase mr-1"></span> {{cmd.lignes.length}} Produits</div>
                            <div class="mr-3"><span class="icon-room mr-1"></span> Commition {{cmd.total * 0.10}} </div>
                            <div><span class="icon-money mr-1"></span> Total {{cmd.total}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="job-category align-self-center">
                        <div class="p-3">
                          <span class="text-info p-2 rounded border border-info">Zakaria</span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </mat-tab>
        <mat-tab *ngSwitchCase=1 label="Recommendation">
          <div class="site-section bg-light">
            <div class="container">
              <div class="row">
                <div class="col-md-12 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
                  <div class="rounded border jobs-wrap">
                    <a *ngIf="utili.recommander.length == 0" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
                      <div class="job-details h-100">
                        <div class="p-3 align-self-center">
                          <h3>Aucune recommandation des livreurs effectuer</h3>
                        </div>
                      </div>
                      <div class="job-category align-self-center">
                        <div class="p-3">
                          <span routerLink="/commande" class="text-info p-2 rounded border border-info">Recommander</span>
                        </div>
                      </div>
                    </a>
                    <a *ngFor="let rec of utili.recommander" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
                      <div class="job-details h-100">
                        <div class="p-3 align-self-center">
                          <h3>Livreur  :  Zakaria</h3>
                        </div>
                      </div>
                      <div class="job-category align-self-center">
                        <div class="p-3">
                          <span *ngIf="rec.etat == true" class="text-info p-2 rounded "><i class="material-icons up">thumb_up</i></span>
                          <span *ngIf="rec.etat == false" class="text-info p-2 rounded "><i class="material-icons down">thumb_down</i></span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </mat-tab>
        <mat-tab label="Edit Profile">
          <div class="py-4" style="overflow-x: hidden">
            <form role="form" (ngSubmit)="SauvgarderEditForm()">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Nom</label>
                <div class="col-lg-6">
                  <input class="form-control" type="text" placeholder="saisie votre nom" [(ngModel)]="formEdit.nom" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Prénom</label>
                <div class="col-lg-6">
                  <input class="form-control" type="text" placeholder="saisie votre prenom" [(ngModel)]="formEdit.prenom" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div *ngIf="utili.type==1" class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Adresse</label>
                <div class="col-lg-6">
                  <input class="form-control" type="text" placeholder="Saisie votre adresse" [(ngModel)]="formEdit.adresse" [ngModelOptions]="{standalone: true}" >
                </div>
              </div>

              <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label"></label>
                <div class="col-lg-6">
                  <button mat-raised-button  (click)="ResetEditForm()" color="warn" style="margin-right: 15px">Reset</button>
                  <button mat-raised-button type="submit" color="primary">Sauvgarder</button>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Edit Compte">
          <div class=" py-4" style="overflow-x: hidden">
            <form role="form">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label ">Email</label>
                <div class="col-lg-6">
                  <input class="form-control" type="email" >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label ">Mot de passe Actuel</label>
                <div class="col-lg-6">
                  <input class="form-control" type="password" >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label ">Nouveau mot de passe</label>
                <div class="col-lg-6">
                  <input class="form-control" type="password" >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label ">Confirmer mot de passe</label>
                <div class="col-lg-6">
                  <input class="form-control" type="password" >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label"></label>
                <div class="col-lg-6">
                  <button mat-raised-button color="warn" style="margin-right: 15px">Reset</button>
                  <button mat-raised-button color="primary">Sauvgarder</button>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
</div>



